{% if SHOW_ARTICLE_PUBLISHED %}
    <div class="post-info">
        <span class="label label-default">Published:</span>
        <i class="fa fa-calendar"></i><time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>
    </div>
{% endif %}
{% if SHOW_ARTICLE_AUTHOR %}
    {% if article.author %}
        <div class="post-info">
            <span class="label label-default">By:</span>
            <a href="{{ SITEURL }}/{{ article.author.url }}"><i class="fa fa-user"></i> {{ article.author }}</a>
        </div>
    {% endif %}
{% endif %}

{% if SHOW_ARTICLE_CATEGORY %}
    <div class="post-info">
        <span class="label label-default">Category:</span>
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
{% endif %}

{% if PDF_PROCESSOR %}
    <div class="post-info">
        <span class="label label-default">
            <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
        </span>
    </div>
{% endif %}

{% include 'includes/taglist.html' %}
{% import 'includes/translations.html' as translations with context %}
{{ translations.translations_for(article) }}
