{% extends "base.html" %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if SHOW_EVENT_INFO %}
                    {% include "includes/event_info.html" %}
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    {% if SUMMARY_MAX_LENGTH %}
                        <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                    {% endif %}
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
